build/
iso_root/

xfbu.iso

*.o
*.d
*.elf
*.bin
*.img
*.iso
*.a
*.so
*.map
*.pdb

bochsout.txt
qemu*.pid
*.qemu
*.gdb

*.log

.project
.cproject

.idea/
.vscode/
*.code-workspace
.ccls-cache/
.clangd/
tags TAGS

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
Thumbs.db
